.blog-tags{
  margin: 2rem 0;
  margin-left: 0;
  padding-left: 0;
   .btn {
    border-radius: 2rem;
     margin-right: 0.5rem;
  }
  .btn-outline-secondary {
    &:hover {

      background-color: theme-color("primary");
      border-color: theme-color("primary");
      a {
        text-decoration: none;
        color: #fff;
      }
    }
  }
}